*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(255, 134, 20, 0.9), rgba(237, 29, 35, 0.1)),url(./bg5.png);
    /* background: linear-gradient(hsl(29, 100%, 54%), hsl(358, 85%, 52%)),url("./images/bg.jpg"); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}
.wrapper{
    max-width: 90%;
    margin: auto;
    background: rgb(0, 0, 0, 0.5);
    
}
#logo{
margin-bottom: -50px;
width: 550px;
height: 550px;
    
}
.header{
    max-width: 100%;
    margin-top: 1px;
    margin: 0 auto;
    height: 300px;
    background-color: rgb(76, 77, 75);
    background: linear-gradient(hsl(29, 100%, 54%), hsl(358, 85%, 52%)),url("./images/bg.jpg");
    padding:50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-bottom:solid 4px #ffffff;
    box-shadow: 5px 10px 9px #070707;
    border-radius: 1px;
        
  }
  .nav-one{
      background-color: #070707;
      border-bottom: #fff 2px solid ;
  }
 
.map{
    margin-left: 60px;
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;  
}
.card .card-body{
    
    color: #ffffff;
}

.card{
    margin-right: 60px;
    margin-top: -500px;
    display: flex;
    padding: 25px;
    background-color: rgb(49, 49, 49);
    border: solid 2px rgb(15, 15, 15);
    height: 450px;
    border-radius: 9px;
    opacity:0.9;
    color: rgb(15, 15, 15);
    overflow: scroll;

    }

.gameList{
    overflow: scroll;
}    

@media  (max-width:700px){

    .map{
        margin-left:0;
        display: flex;
        max-width: 100%;
        width: 450px;
        height: 300px;
        overflow: auto;
    }
    .card{
        width: 100%;
        margin-top: 9px;
        
    }
   #logo{
       width: 100%;
       width:320px;
   }
   .nav-one{
       border: #ffffff 2px solid;
       border-radius: 2px;
       margin: 3px;
       
   }
   .header{
       height: 200px;
   }

   .newLocation{
    text-align: center;

   }
}

/*///////// add page/////// */
.newLocation{
    display: grid;
    margin: 0 auto 0 auto;
    padding: 30px;
    margin-top: 20px;   
    max-width: 900px;
    height:auto;
    /* background: rgb(51, 51, 51, 0.9); */
    border: rgb(0, 0, 0) 2px solid;
    align-items: center;
    font-size: 25px;
}


#paymen{
    background-color: #fff;
}
.form{
    display: grid;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    height:auto;
    /* background: rgb(51, 51, 51, 0.9); */
    border: rgb(0, 0, 0) 2px solid;
    align-items: center;
    font-size: 25px; 
    margin-bottom: -40px;
}
#game{
    font-size: 25px;
    border: black solid 3px;
    text-align: center;
    margin: 30px;
    width: 50%;
    border-radius: 5px;
    

}
#gameType {
    font-size:25px;
    border: black solid 3px;
    text-align: center;
    width: 50%;
    margin: 40px;
    background-color: #fff;
}
#submit{
    text-align: center;
    width: 90px;
    border: solid black 3px;
    background-color: #fff;
}
